name: reorderable_grid
description: A full reorderable grid implementations similar to flutter's native reorderable list.
homepage: https://github.com/casvanluijtelaar/reorderable_grid
repository: https://github.com/casvanluijtelaar/reorderable_grid
version: 1.0.9

environment:
  sdk: ">=2.14.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
